.card {
    border-radius: 4rem;
    overflow: hidden;
    display: grid;
    box-shadow: .2rem .2rem 3rem rgba(0, 0, 0, .1);
}

.image__container {
    width: 100%;
    position: relative;
}

.image {
    width: 100%;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-tertiary);
    color: var(--clr-light--1);
    padding: 1.5rem 2rem;
    border-bottom-right-radius: 4rem;
    font-size: 2.4rem;
}

.details {
    display: grid;
    gap: 4rem;
    padding: 4rem 3rem;
    justify-items: start;
}

.content {
    font-size: 2.6rem;
    line-height: 1.6;
}

.btn {
    font-size: 2.2rem;
    color: var(--clr-primary);
}

@media only screen and (max-width: 56.1875em) {
    .card {
        border-radius: 2rem;
    }

    .details {
        gap: 2rem;
        padding: 3rem;
    }
}